h1, h2 {
    font-style: italic;
}

/*
Combinators:

Direct Child - Use the following symbol ">". See example below how to use it.
* = means all elements
Descendant - Use the following symbol

siblings elements - on the same level. E.g. siblings are the elements in section.

+ - next element [only one next element]
~ - you can choose all elements on the same level after the first one.
*/

body > * {
border: 1px solid red;
}

section > p {
    font-weight: bold;
}

section h2 {
    color: blueviolet;
}

h2 + p {
    background-color: lightblue;
}

h2 + p ~ p {
    color: green;
}